__pycache__/
node_modules
typescript/dist

logs/
python3/trajectory/
python3/obs/
python3/.ipynb_checkpoints/
python3/*.ipynb
python3/.vscode/
python3/.vscode/
python3/PPO_preTrained/
python3/runs/
.vscode/
notebooks/.ipynb_checkpoints
